
@{
    Layout = "_TestLayout";
    ViewData["Title"] = "Title of Test - Index";
}


    <h1>Hi There, How are you doing, Am the Test - index </h1>

    @section Scripts{
        <script>
            alert('I am Test - Index alert');
        </script>    
    }